# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

*.db
*.pdb

# Executables
*.exe
*.out
*.app
D3D12Demo/D3D12Demo/x64/Debug/
D3D12Demo/D3D12Demo/Debug/
D3D12Demo/x64/
*.ipch
D3D12Demo/.vs/
