# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

*.db
*.pdb
*.ipch
*.tlog

# Executables
*.exe
*.out
*.app

# Proj
D3D12Demo/VisualStudio/D3D12Demo/x64/
D3D12Demo/VisualStudio/Test/x64/
D3D12Demo/VisualStudio/Example_BasicGraphic/x64/
D3D12Demo/Content/
D3D12Demo/.vs/
*.ilk
*.iobj
*.idb
D3D12Demo/ThirdParty/tinygltf-master/
D3D12Demo/VisualStudio/glTF_View/x64/
